
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.font-p{
    font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.img{
    width:100%;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 90rem;
    padding: 0 8.75rem;
    max-height: 6.375rem;
    margin: 0 auto;
    margin-bottom: 1.125rem;
}
.nav1{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.nav-text{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 2rem;
font-weight: 700;
letter-spacing: 0%;
text-align:right;
}
.nav2{
    align-items: center;
    }
.nav2>ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.nav2>ul>a{
    text-decoration: none;
}
.nav2 ul li{
    list-style-type: none;
font-size: 1.25rem;
font-weight: 700;
letter-spacing: 0%;
}
.nav2 ul a:nth-last-child(4){
    color: rgb(254, 163, 1);
}
.nav2 ul a:nth-last-child(3){
    color: rgb(1, 172, 253);
}
.nav2 ul a:nth-last-child(2){
    color: rgb(5, 212, 223);
}
.nav2 ul a:nth-last-child(1){
    color: rgb(93, 88, 239);
}
.btn-primary{
width: 12.3125rem;
justify-content: center;
align-items: center;
padding: 0.625rem;
border-radius: .75rem;
border: none;
color: rgb(255, 255, 255);
font-size: 1.25rem;
font-weight: 600;
letter-spacing: 0%;
text-align: center;
}
.btn-nav{
background: rgb(254, 163, 1);
}
.nav4{
    display: none;
}


/* banner */


.banner{
    max-width: 90rem;
    padding:0 8.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.banner-header{
max-width: 40rem;
}
.banner-h{
font-size: 3.5rem;
font-weight: 700;
letter-spacing: 0%;
text-align: left;
padding-right: 3.5rem;
margin-bottom: 1.5rem;
}
.banner-s1{
    color: rgb(254, 163, 1);
}
.banner-s2{
    color: rgb(1, 172, 253);
}
.banner-paragraph{
    max-width: 40rem;
    color: rgb(17, 17, 17);
font-size: 1.25rem;
font-weight: 400;
letter-spacing: 0%;
text-align: left;
margin-bottom: 1.5rem;
}
.btn-banner{
    background-color: black;
}


/* Standard Curriculum  by Mijbah Uddin A2-B11*/
.cart-h{
font-size: 2.875rem;
font-weight: 700;
letter-spacing: 0%;
text-align: center;
margin: 3.75rem auto 5rem auto;
}
.cart-container{
    display:flex;
    max-width: 90rem;
    justify-content: space-between;
    gap: 1.9rem;
}
.cart{
    max-width: 22.9875rem;
    border: 1px solid;
    text-align: center;
    padding: 3.36rem 2.6rem;
    border-radius:1.17875rem;
}
.cart1{
    background: linear-gradient(180.00deg, rgba(238, 225, 255,1),rgb(255,255,255,0)40%);
}
.cart2{
    background: linear-gradient(180.00deg, rgba(255, 244, 220,1),rgb(255,255,255,0)40%);

}
.cart3{
    background: linear-gradient(180.00deg, rgba(238, 225, 255,1),rgb(255,255,255,0)40%);
}
.cart>h3{
font-size: 1.5rem;
font-weight: 700;
line-height:1.9rem;
letter-spacing: 0%;
text-align: center;
}
.cart>p{
    color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 15.09px;
font-weight: 500;
line-height: 2.8rem;
letter-spacing: 0%;
text-align: center;
}
.cart>a{
font-size: 1rem;
font-weight: 700;
line-height: 1.8rem;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
}
.cart1>a{
    color: rgb(240, 170, 0);
}
.cart1>a{
    color: rgb(240, 170, 0);
}
.cart1>a{
    color: rgb(135, 0, 255);
}
.imgc{
    max-width: 50%;
}
.right-left{
    text-align: center;
    margin: 5rem auto 3.75rem auto ;
}
.btn-sb{
width:3.75rem;
height:3.75rem;
border-radius:1.875rem;
background: rgb(254, 163, 1);
border:none;
color: rgb(255, 255, 255);
font-size: 1.5rem;
font-weight: 900;
line-height: 1.5rem;
letter-spacing: 0%;
margin-right: .625rem;
}
.cart-section{
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 8.75rem;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    object-fit:cover;
}
/* our stories */
.our-stories{
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 8.75rem;

}
.our-h{
    color: rgb(0, 0, 0);
font-size: 2.875rem;
font-weight: 700;
line-height: 3.59375rem;
letter-spacing: 0%;
text-align: center;
}
.our-c{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 73.125rem) {
    nav {
        border: 0.5px solid rgb(254, 163, 1);
    }
    .nav2, .nav3,.right-left{
        display: none;
    }
    .nav4{
        display: block;
    }
    .banner-h{
        padding: 0;
    }
    nav,.cart-section,.banner,.our-stories{
        padding: 0 1.5rem; 
    }
    .banner-content{
        order: 2;
    }
    .banner ,.cart-container{
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .banner-h, .banner-p, .btnb{
        text-align: center;
    }

}